
#root {
  margin-left:10vw;
  margin-right:10vw;
  background-color: white;
  padding: 10px;
  height: 100vh;
}

.sidTopp {
  border: 2px solid blue;
  border-radius:10px;
  background-color: rgb(109, 188, 237);
  font-size: 50px;
  color: darkblue;
  font-family: cursive;
}


#outer-container{
  display: flex; /* or inline-flex */
  justify-content: space-between;
}



.shoppinglist { 
  color: blue;
}


.form-container {
  border: 1px solid black;
  width: 40%;
  background-color: rgb(95, 200, 248);
  padding:2px;
  border: 2px solid blue;
  border-radius:10px;
}

/*rounded corners*/
.form-input {
  padding:1px;
  border-radius:10px;
}



.input-text::placeholder {
  color: #000;
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.textInput {
  width: 100%;
  border: 1px solid #dfdfdf;
}

table th {
  font-weight: bold;
}

table th,
td {
  font-family: 'Caveat', cursive;
  font-size: 20pt;
  text-align: left;
  padding-right: 10pt;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table {
  border: 2px solid blue;
  border-radius:10px;
}

.btn-baseItems   {
  background-color: lightgray;
  border-radius:5px;
}


.btn-submit  {
  background-color: lightgray;
  border-radius:3px;
}

button {
  background-color: lightgray;
  border-radius:3px;
}


.recipeList {
  border: 2px solid blue;
  border-radius:10px;
  background-color:rgb(108, 175, 227);
}

/* lägga title i border via <p> ? */
.myDiv p {
  margin-top: -0.5em;
  margin-left: 10px;
  background-color: white;
  display: block;
  width: 150px;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}
