body {
    background-color: #DBF9FC;
}

h1 {
    font-size: 60px;
    color: darkblue;
    font-family: cursive;
}

/* placerar tab till vänster */
.table1 {
    table-layout: auto;
    width: 70%;
    background-color: rgb(236, 216, 216);
    float: left;
}

/* placerar tab till höger */
.table2 {
    table-layout: auto;
    width: 30%;
    background-color: rgb(234, 234, 208);
    float: right;
}

.table2 th {
    text-align: center;
}

.table2 tr :first-child {
    font-weight: bold;
}


/* Fixa tabell */
table th,
td {
    border: 1px solid black;
}

table th {
    text-align: left;
}

table th,
td {
    padding: 5px;
}